@media(min-width:1201px){
    iframe{
        height:100%;
        width:100%;
        border:black;
        }
    .class{
        position:fixed;
        top:285px;
        right:0;
        left:0;
        width:100%;
        height:50%;
    }
    p{
        width:100%;
        color:white;
        font-size:18px;
        text-align:center;
        top:auto;
    }
}
@media(max-width:1200px){
    iframe{
        height:100%;
        width:100%;
        border:black;
        }
    .class{
        position:fixed;
        top:auto;
        right:0;
        left:0;
        width:100%;
        height:30%;
    }
    p{
        width:100%;
        color:white;
        font-size:18px;
        text-align:center;
    }
}