@media(min-width:1201px){
    iframe{
        height:120%;
        width:85%;
        border:black;
        }
    .class{
        width:500px;
        height:250px;
        margin:2% 0% 2% 34.5%;
    }
    p{
        width:85%;
        color:white;
        font-size:18px;
        text-align:center;
    }
}
@media(max-width:1200px){
    iframe{
        height:120%;
        width:85%;
        border:black;
        }
    .class{
        width:450px;
        height:225px;
        margin:2% 0% 2% 14%;
    }
    p{
        width:85%;
        color:white;
        font-size:18px;
        text-align:center;
    }
}