@media(min-width:1201px){
    #quiz{
        display:grid;
        align-items:center;
        grid-column-gap:20px;
        grid-row-gap:20px;
        grid-template-columns: auto auto;
    }
    .question{
        font-size:20px;
        text-decoration:none;
        text-align:center;
        border:2px solid white;
        color:white;
    }
    .question:hover{
        border:2px solid red;
    }
    iframe{
        height:100%;
        width:100%;
        border:black;
        }
    .class{
        position:absolute;
        top:260px;
        right:0;
        left:0;
        width:100%;
        height:50%;
    }
    .detail2 > a{
        text-decoration:none;
        color:white;
    }
    .detail2 > a:hover{
        text-decoration:underline;
    }
    .activity{
        height:280px;
        font-size:15px;
        font-family:arial;
        font-weight:bold;
        text-align:center;
        display:flex;
        flex-direction:column;
        color:white;
        margin:0 20px;
        padding:10px 0;
    }
    .activity > .duration{
        text-decoration:underline;
    }
    .description2{
        font-family:arial, sans-serif;
        font-size:15px;
        font-weight:bold;
        color:white;
        text-align:center;
        padding:10px;
        position:absolute;
        top:560px;
        left:0;
        right:0;
    }
    .detail2{
        color:white;
        font-size:15px;
        font-weight:bold;
        position:absolute;
        text-align:center;
        border:1px solid white;
        top:620px;
        left:0;
        right:0;
    }
}
@media(max-width:1200px){
    #quiz{
        display:grid;
        align-items:center;
        grid-column-gap:20px;
        grid-row-gap:20px;
        grid-template-columns: auto auto;
    }
    .question{
        font-size:15px;
        text-decoration:none;
        text-align:center;
        border:2px solid white;
        color:white;
    }
    iframe{
        height:100%;
        width:100%;
        border:black;
        }
    .class{
        position:absolute;
        top:203px;
        right:0;
        left:0;
        width:100%;
        height:210px;
    }
    .detail2 > a{
        text-decoration:none;
        color:white;
    }
    .detail2 > a:hover{
        text-decoration:underline;
    }
    .activity{
        height:280px;
        font-size:15px;
        font-family:arial;
        font-weight:bold;
        text-align:center;
        display:flex;
        flex-direction:column;
        color:white;
        margin:0 20px 80px;
        padding:10px 0;
    }
    .activity > .duration{
        text-decoration:underline;
    }
    .description2{
        font-family:arial, sans-serif;
        font-size:15px;
        font-weight:bold;
        color:white;
        text-align:center;
        padding:10px;
        position:relative;
        margin:30px 0 0 0;        
    }
    .detail2{
        color:white;
        font-size:13px;
        font-weight:bold;
        position:relative;
        text-align:center;
        margin:30px 0 0 0;
        border:1px solid white;      
    }
}