.modexer{
    display:flex;
    flex-wrap:wrap;
    margin: 30px;
}
.mod-exe{
    align-items:center;
    text-align:center;
    font-size:20px;
    width:160px;
    height:220px;
    margin: 20px  10px 20px 25px;
    background-color:white;
    border-radius:20px;
    border:2px solid rgb(32, 9, 116);    
}
.mod-exe>a{
    position:absolute;
    width:160px;
    height:220px;
    margin:-2px 0 0 -2px;
    border-radius:20px;
}
.mod-exe>p{
    color:black;
    font-weight:bold;
    font-size:20px;
    margin: 5px 0 0 0;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top:2px solid rgb(32, 9, 116);
}
.mod-exe>iframe{
    width:100%;
    height:82%;
    margin: 0 0 -12px 0;
    background-color:black;
    border-top-left-radius:18px;
    border-top-right-radius:18px;
}
.mod-exe>a:hover{
    position:absolute;
    width:160px;
    height:220px;
    margin:-2px 0 0 -2px;
    border-radius:20px;
    border:3px solid red;
}
.btn{
    margin:0 0 60px 0;
}
.activity{
    width:100%;
    height:85%;
    text-align:center;
    font-weight:bold;
    color:black;
    margin: -120px 0 20px 0;
    background-color:white;
    border:3px solid rgb(32, 9, 116);
    border-radius:20px;
}