@media(min-width:1201px){
    .mod a{
        background-color:black;
        color:white;
        font-weight:bold;
        font-size:20px;
        margin:10px;
        padding:7px;
        text-align:center;
        text-decoration:none;
    }
    .mod a:hover{
        border:1px solid white;
        background-color:blue;
    }
    .mod li{
        margin:5px;
        padding:7px;
        align-items:center;
    }
    p{
        color:white;
        text-align:center;
        padding:15px;
    }
}
@media(max-width:1200px){
    .mod a{
        background-color:black;
        color:white;
        font-weight:bold;
        font-size:12px;
        margin:2px;
        padding:7px;
        text-align:center;
        text-decoration:none;
    }
    .mod a:hover{
        border:1px solid white;
        background-color:blue;
    }
    .mod li{
        margin:2px 1px;
        padding:2px;
        align-items:center;
        border: solid black;
    }
    p{
        color:white;
        text-align:center;
        padding:12px;
    }
}