.mod{
    display:flex;
    flex-wrap:wrap;
    margin: 20px;
}
.mod-class-mn{
    align-items:center;
    text-align:center;
    font-size:20px;
    width:180px;
    height:200px;
    margin: 20px  10px 20px 25px;
    background-color:white;
    border-radius:20px;
    border:2px solid rgb(32, 9, 116);
}
.mod-class-mn>a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
.mod-class-mn>a>p{
    border-top:2px solid rgb(32, 9, 116);
}