.logo{
    margin:20px 10px 0 0;
    background-color:rgb(32, 9, 116);
}
#logo a{
    font-size:25px;
    color:white;
    text-align:center;
    align-items:center;
    text-decoration:none;
}
.navbar{
    background-color:rgb(32, 9, 116);
    border-bottom:1px solid lightblue;
}
