@media(min-width:600px){
    .title{
        font-size:50px;
        font-weight:bold;
        text-align:center;
        color:white;
        Font-family:Brush Script MT, Brush Script Std, cursive;
        display:flex;
        align-items:center;
        margin:5px;
        padding:2% 37%;
        justify-content:center;
    }
    img{
        width: 90px;
    }
    .subtitle{
        font-size:16px;
        font-weight:bold;
        text-align:center;
        color:white;
        Font-family:arial, sans-serif;
        position:relative;
    }
}
@media(max-width:599px){
    .title{
        font-size:23px;
        font-weight:bold;
        text-align:center;
        color:white;
        Font-family:Brush Script MT, Brush Script Std, cursive;
        display:flex;
        align-items:center;
        justify-content:center;
        margin:1px;
        padding:2% 22%;

    }
    img{
        width: 45px;
        margin:2%;
    }
    .subtitle{
        font-size:12px;
        font-weight:bold;
        text-align:center;
        color:white;
        Font-family:arial, sans-serif;
        position:relative;
    }
}