@media(min-width:600px){
    .title{
        font-size:50px;
        font-weight:bold;
        text-align:center;
        color:white;
        Font-family:Brush Script MT, Brush Script Std, cursive;
        display:flex;
        align-items:center;
        margin:5px;
        padding:2% 36%;
    }
    img{
        width: 90px;
    }
}
@media(max-width:599px){
    .title{
        font-size:23px;
        font-weight:bold;
        text-align:center;
        color:white;
        Font-family:Brush Script MT, Brush Script Std, cursive;
        display:flex;
        align-items:center;
        margin:1px;
        padding:1% 25% 1% 20%;

    }
    img{
        width: 45px;
        margin:2%;
    }
}