@media(min-width:1201px){
    .warning{
        background-color:red;
        color:white;
        font-weight:bold;
        text-align:center;
        font-size:20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding:10px;
        margin:20px;
    }
    .description{
        font-family:arial, sans-serif;
        font-size:15px;
        font-weight:bold;
        color:white;
        text-align:center;
        padding:10px;
        position:absolute;
        top:91%;
        left:0;
        right:0;
    }
    .detail{
        color:white;
        font-size:15px;
        font-weight:bold;
        position:absolute;
        text-align:center;
        border:1px solid white;
        top:101%;
        left:0;
        right:0;
    }
}
@media(max-width:1200px){
    .warning{
        background-color:red;
        color:white;
        font-weight:bold;
        text-align:center;
        font-size:16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding:10px;
        margin:20px;
    }
    .description{
        font-family:arial, sans-serif;
        font-size:15px;
        font-weight:bold;
        color:white;
        text-align:center;
        padding:10px;
        position:absolute;
        top:428px;
        left:0;
        right:0;
    }
    .detail{
        color:white;
        font-size:15px;
        font-weight:bold;
        position:absolute;
        text-align:center;
        border:1px solid white;
        top:525px;
        left:0;
        right:0;
    }
}