.mod-mn{
    display:grid;
    grid-template-columns:600px 600px;
    grid-template-rows:160px;
    margin:20px;
}
.mod-mn > .mod-class{
    width:90%;
    height:140px;
    margin:2% 12% 2% 12%;
    border:1px solid white;
}
.mod-mn > .mod-class:hover{
    border:2px solid red;
}
.mod-mn > .mod-class > a{
    width:540px;
    height:140px;
    position:absolute;
}
.mod-mn > .mod-class > .mod-title{
    font-family:arial;
    font-size:14px;
    color:white;
    text-align:center;
    margin:-95px -180px 0 0;
}
.mod-mn > .mod-class> iframe{
    width:200px;
    height:140px;
}
@media(max-width:1000px){
    .mod-mn{
        display:grid;
        grid-template-columns:450px;
        grid-template-rows:120px;
        margin:20px 0;
        border:1px solid white;
    }
    .mod-mn > .mod-class{
        width:90%;
        height:100px;
        margin:2% 12% 2% 2%;
        border:1px solid white;
    }
    .mod-mn > .mod-class:hover{
        border:2px solid red;
    }
    .mod-mn > .mod-class > a{
        width:405px;
        height:100px;
        position:absolute;
        border:1px solid white;
    }
    .mod-mn > .mod-class > .mod-title{
        width:170px;
        height:70px;
        font-family:arial;
        font-size:13px;
        color:white;
        text-align:center;
        margin:15px 20px;
        float:right;
        border:1px solid white;
    }
    .mod-mn > .mod-class> iframe{
        width:170px;
        height:100px;
        border:1px solid white;
    }
}