@media(min-width:600px){
    .mod button{
        background-color:black;
        color:white;
        font-weight:bold;
        font-size:20px;
        margin:10px;
        padding:7px;
        text-align:center;
        width:300px;
    }
    .mod button:hover{
        border:2px solid white;
        background-color:blue;
    }
}
@media(max-width:599px){
    .mod button{
        background-color:black;
        color:white;
        font-weight:bold;
        font-size:10px;
        margin:5px;
        padding:5px;
        text-align:center;
        width:300px;        
        display:center;
    }
    .mod button:hover{
        border:2px solid white;
        background-color:blue;
    }
}